
  .ghe {
    padding: 10px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa;
    cursor: pointer;
    width: 100px;
  }

  .ghe i {
    color: #ccc;
  }

  .ghe.chon {
    border-color: #f97316;
    background-color: #fff7ed;
  }

  .ghe.chon i {
    color: #f97316;
  }
